</div><br>
<%= render "/layouts/error", object: @user %>
<% if flash[:error] %>
<%= flash[:error] %>
<% end %>
    <%= form_for(@user) do |f| %>
      <%= f.label :username, "Email" %>
      <%= f.text_field :username %>
      <%= f.label :password, "Password" %>
      <%= f.password_field :password %><br>
      <%= f.submit "Log in" %><br><br>
    <% end %>

    <%= button_to "Log in or Sign up with Google", "/auth/google_oauth2" %><br><br>
      <%= link_to "Sign up",  new_user_path %>
  </div>