<h3><%= @user.name %>,
Here's all your expeditions</h3>
<ul>
<% @user.expeditions.each do |exp| %>
<li><%= exp.location_name %> <%= exp.date_and_time %> <%= link_to "View Expedition", user_expedition_path(@user) %></li>
<% end %>
</ul>
Add a new Expedition!
<br>
<%= link_to "New Expedition", new_user_expedition_path(@user) %>