<h3><%= @user.name %>,
Here's all your expeditions</h3>
<ul>
<% @user.expeditions.each do |exp| %>
<li><%= exp.location_name %> <%= exp.date_and_time %> <%= link_to "View Expedition", user_expedition_path(@user) %></li>
<% end %>
</ul>
Add a new Expedition!
<br>
<%= link_to "New Expedition", new_user_expedition_path(@user) %>

<a><%= link_to("Sign out", logout_path, :method => :delete) %></a>

<br>
<br>
<br>
<%= link_to "View Items by Location",  user_items_by_location_path(@user) %><br>
<%= link_to "View Items by Name",  user_items_by_name_path(@user) %><br>
<%= link_to "View Items by Date", user_items_path(@user) %><br>