
  <%= f.label :location_name %>
  <%= f.text_field :location_name%>
  <%= f.label :date_and_time %>
  <%= f.datetime_field :date_and_time %>
  <%= f.label :latitude %>
  <%= f.text_field :latitude %>
  <%= f.label :longitude %>
  <%= f.text_field :longitude %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit %>


<h3>Add items harvested:</h3>
<br>
<% 5.times do %>
  <p>Select an existing Item</p>
    <%= f.collection_select :item_id, user.items.all, :id, :name, prompt: true %>
  <br>
  <p>Or create a new Item</p>
    <%= f.fields_for :item do |item_field| %>
      <%= item_field.label :name %>
      <%= item_field.text_field :name %>
      <%= item_field.label :description %>
      <%= item_field.text_field :description %>
    <% end %>
  <br>
  <p>Amount Harvested:</p>
    <%= f.fields_for :harvest do |harvest_field| %>
      <%= harvest_field.text_field :amount %>
    <% end %>
  <br><br>
<% end %>