<%= form_with model: expedition, url: url, local: true do |f| %>
  <%= f.label :location_name %>
  <%= f.text_field :location_name%>
  <%= f.label :date_and_time %>
  <%= f.datetime_field :date_and_time %>
  <%= f.label :latitude %>
  <%= f.text_field :latitude %>
  <%= f.label :longitude %>
  <%= f.text_field :longitude %>
  <%= f.label :description %>
  <%= f.text_area :description %>

<h3>Add A new Harvest!</h3>
<% harvests.times do%>
<div>
<br>
  <%= f.fields_for :harvests, expedition.harvests.build do |harvest_fields| %>
  <%= harvest_fields.collection_select :item_id, Item.all, :id, :name, prompt: "Select an Existing Item" %>
  <p> Or Create a new Item </p>
  <%= harvest_fields.fields_for :item, expedition.items.build do |item_fields| %>
    <%= item_fields.label :name %>
    <%= item_fields.text_field :name %>
    <%= item_fields.label :description%>
    <%= item_fields.text_field :description %>
    <% end%>
    <br>
      <%= harvest_fields.label "Amount Harvested" %>
      <%= harvest_fields.text_field :amount %>
  <% end %>
  <br>
  </div>
<% end%>

<br>
<%= f.submit %>
<% end %>