
  <%= f.label :location_name %>
  <%= f.text_field :location_name%>
  <%= f.label :date_and_time %>
  <%= f.datetime_field :date_and_time %>
  <%= f.label :latitude %>
  <%= f.text_field :latitude %>
  <%= f.label :longitude %>
  <%= f.text_field :longitude %>
  <%= f.label :description %>
  <%= f.text_area :description %>


<h3>Add items harvested:</h3>
  <% harvests.each do |harvest| %>
<div>
<p>Amount Harvested:</p>
       <%= text_field_tag "expedition[harvests][][amount]" %>
         <p>Select an existing Item</p>
         <select name="expedition[harvests][][item_id]" id="expedition_harvest_item_id"><option value="">Please select</option>
         <% items.each do |item| %>
           <option value=<%= "#{item.id}" %>><%= item.name %></option>
          <% end %>
          </select>
         <br>
        <p>Or create a new Item</p>
        <%= label_tag "Item Name:" %>
        <%= text_field_tag "expedition[harvests][][item][name]" %>
          <%= label_tag "Item Description:" %>
        <%= text_field_tag "expedition[harvests][][item][description]" %>
        <br><br>
  </div>
  <% end %>


<%= f.submit %>
