<%= form_with model: expedition, url: url, local: true do |f| %>
  <%= f.label :location_name %>
  <%= f.text_field :location_name%>
  <%= f.label :date_and_time %>
  <%= f.datetime_field :date_and_time %>
  <%= f.label :latitude %>
  <%= f.text_field :latitude %>
  <%= f.label :longitude %>
  <%= f.text_field :longitude %>
  <%= f.label :description %>
  <%= f.text_area :description %>

<h3>Add A new Harvest!</h3>

<%= f.fields_for :item, expedition.items do |s| %>
<%= f.collection_select :item_id, user.items, :id, :name %>
  <%= s.label :name %>
  <%= s.text_field :name %>
  <%= s.fields_for :harvest, expedition.harvests do |h| %>
    <%= h.label :amount %>
    <%= h.text_field :amount %>
  <% end%>
<% end %>


<%= f.submit %>
<% end %>