<h1>Here's all your item's by location harvested!</h1>
<p> The link next to each item contains more information about that item</p>

<% @user.location_harvests.each do |harvests| %>
<ul>
    <% harvests.each do |harvest| %>
        <li><%= harvest.expedition.location_name %> - <%= harvest.item.name %> - <%= harvest.amount %> <%= link_to "View Item", item_path(harvest.item_id) %></li>
    <% end %>
    </ul>
<% end %>
<%# user.expeditions.where("LOCATION_NAME LIKE ?", "Test").collect(&:harvests) %>

<p> Return to view all of you expeditions here: </p>
<%= link_to "All Expeditions", user_path(@user) %>